.selector {
  border: 3px solid rgb(67, 67, 67);
  height: 65vh;
  min-height: fit-content;
  width: 30vw;
  border-radius: 25px;
  padding: 1vh;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    265deg,
    rgba(0, 225, 255, 0.2) 0%,
    rgba(255, 0, 191, 0.2) 100%
  );
  display: flex;
  flex-direction: column;
}
.selector-object-row {
  display: flex;
  justify-content: space-between;
}
.selector-img-icon {
  order: 1;
  height: 5.5vw;
  width: auto;
  max-height: 80px;
  max-width: 80px;
  /* height: 5.5vw; */
  /* max-height: 5.9vw; */
  border-radius: 50%;
  padding: 0 1px;
}
.selector-object-highlight-wrap {
  display: flex;
  justify-content: center;
  padding: 1vh 3vw;
}
.selector-custom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  padding: 1vh 3vw;
}
.selector-custom-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0.5vh 0;
}
.selector-input {
  order: 3;
  height: 7vh;
  width: 7vw;
  border-radius: 50%;
  border-color: transparent;
  background: none;
}
.selector-label {
  order: 2;
  font-size: 1.5rem;
  margin-right: auto;
}
/* medium screen */
@media screen and (max-width: 992px) {
  .selector {
    height: 24vh;
    width: 88vw;
  }
  .selector-custom-container {
    display: flex;
    flex-direction: row;
  }
  .selector-custom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  .selector-input {
    height: 5vh;
    border-radius: 50%;
    border-color: transparent;
    background: none;
  }
  .selector-img-icon {
    width: 7.5vw;
    border-radius: 50%;
    padding: 3px 1px;
  }
  .selector-label {
    font-size: 2rem;
    margin-right: 0;
    display: none;
  }
}
/* small screen */
@media (max-width: 575.98px) {
  .selector-label {
    display: none;
  }
  .selector {
    height: 25vh;
  }
  .selector-custom-wrap {
    height: 13vh;
  }
  .selector-input {
    height: 8vh;
    width: 13vw;
  }
}
